{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<a href="{{ comment.get_origin }}">Go Back</a>

<table class='table'>

<tr><td>{{ comment.get_comment }} 
<br/><small>via {{ comment.user }} | {{ comment.timestamp|timesince }} ago </small>
				{% if not comment.is_child %}
				<ul>
				{% for child in comment.get_children %}
				<li>{{ child.get_comment }} 
				<small>via {{ child.user }}</small>


				</li>
				{% endfor %}
				</ul>
				<div>
				<form method="POST" action='{% url "comment_create" %}'>{% csrf_token %}
				<input type='hidden' name='parent_id' value='{{ comment.id }}' />
				{% crispy form form.helper %}
				<!-- <input type='submit' class='btn btn-default' value='Add reply'/> -->
				</form>
				</div>
				{% endif %}


</td></tr>


</table>

{% endblock %}