{% extends "base.html" %}

{% block title %}{% endblock %}


<script>
{% block jquery %}
function update_iframe_size(){
	var parent_id = $("iframe").parent().attr("id");
	if (parent_id == "main_video") {
		var parent_class = $("iframe").parent().attr("class");
		var parent_width = $("iframe").parent().width();
		console.log(parent_class);
		var width = $("iframe").css("width"); // $("iframe").width();
		var height = $("iframe").css("height");
		var ratio = parseInt(height)/parseInt(width);
		var new_height = parseInt(parent_width) * ratio
		$("iframe").css("width", parent_width);
		$("iframe").css("height", new_height);
	}
}

update_iframe_size()
$(window).bind("resize", function(){
	// alert("reized");
	update_iframe_size();
});
{% endblock %}
</script>




{% block content %}
<div class='col-sm-12' id='main_video'>
{{ obj.embed_code|safe }}
</div>

<br/>


<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ obj.get_share_link }}"><i class="fa fa-facebook-square fa-3x"></i></a>


<a target="_blank" href="https://twitter.com/home?status={{ obj.get_share_message|safe }}"><i class="fa fa-twitter-square fa-3x"></i></a>

<a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ obj.get_share_link }}&title={{ obj.get_share_message|safe }}&summary={{ obj.get_share_message|safe }}&source={{ obj.get_share_link }}">
<i class="fa fa-linkedin-square fa-3x"></i>
</a>

<br/>
<hr/>

<div class='row'>
<div class='col-sm-12'>
<h1>Comments/Questions</h1>
<form method="POST" action=''>{% csrf_token %}
{{ comment_form.as_p }}
<input type='submit' value='Add comment'/>
</form>

{% for comment in comments %}

{{ comment.get_comment }}

{% endfor %}

</div>


</div>










{% endblock %}
